@{
  Layout = "_Layout";
}
@using Treats.Models
@model Treats.Models.Sweet

<h2>Sweet Name:</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SweetId)

  @Html.Label("Sweet Name:")
  @Html.EditorFor(model => model.SweetName)
  <br>
  @Html.Label("Connect to a Flavor!")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}

@if (@Model.JoinEntities.Count != 0)
{
  <br>
  <h4>Flavors connected to this Sweet:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Flavor.FlavorName</li>
    }
  </ul>
}

<button>@Html.ActionLink("Go Back", "Index")</button>