@{
  Layout = "_Layout";
}
@model Treats.ViewModels.UserViewModel;
<h4 class="float-right">Flavors</h4>
<h4>Sweets</h4>
<div class = "row">
  <div class="col">
    @if (Model.Sweets.Count != 0)
    {
      <p>@Model.Sweets</p>
    }
    else
    {
      <p>No sweets listed.</p>
    }
  </div>
  <div class="col">
    @if (Model.Flavors.Count != 0)
    {
      <p>@Model.Flavors</p>
    }
    else
    {
      <p>No flavors listed.</p>
    }
  </div>
</div>
@if (User.Identity.IsAuthenticated)
{
  <div class="float-right">
    @Html.ActionLink("Them Flavors", "Index", "Flavors")
  </div>
  @Html.ActionLink("Them Sweets", "Index", "Sweets")
}
else
{
  <p>Not seeing your sweets or flavors?
  @Html.ActionLink("Login", "Login", "Account")!
  </p>
}
