@{
  Layout = "_Layout";
}
@using Treats.Models
<h4 class="float-right">Flavors</h4>
<h4>Sweets</h4>
<div class = "row">
  <div class="col">
    @if (ViewBag.Sweets.Count != 0)
    {
      @foreach (Sweet s in ViewBag.Sweets)
      {
      <p>@s.SweetName</p>
      }
    }
    else
    {
      <p>No sweets listed.</p>
    }
  </div>
  <div class="col">
    @if (ViewBag.Flavors.Count != 0)
    {
     @foreach (Flavor f in ViewBag.Flavors)
      {
      <p>@f.FlavorName</p>
      }
    }
    else
    {
      <p>No flavors listed.</p>
    }
  </div>
</div>
@if (User.Identity.IsAuthenticated)
{
  <div class="float-right">
    @Html.ActionLink("Them Flavors", "Index", "Flavors")
  </div>
  @Html.ActionLink("Them Sweets", "Index", "Sweets")
}
else
{
  <p>Not seeing your sweets or flavors?
  @Html.ActionLink("Login", "Login", "Account")!
  </p>
}
